body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* section{
    padding-bottom: 100px;
} */
h1{
    font-size: 50px;
    font-weight: 700;
}
h3{
    font-size: 30px;
    font-weight:900;
}
.orange-color{
    color: orange;
}
.flexible-content{
    display: flex;
    justify-content: center;
}
.half-width{
    width: 50%;
    margin: auto;
    padding-left: 10%;
}
.half-width img{
    width:80%
}
.red-border{
    border-left: 5px solid;
    border-color: coral;
    padding-left: 3%;
}
.top-padding{
    padding-top: 40px;
}
.down-padding{
    padding-bottom: 20px;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 400;
    background-color: coral;
    padding: 2% 7%;
    border-radius: 10px;
}
#darknavy-color{
    color: rgb(1, 1, 36);
}

.mission-details{
    text-align: center;
}
.item-column{
    margin-left: 10%;
    margin-right: 10%;
}
.mission-item{
    text-align:left ;
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 30px 20px;
    border-radius: 20px;
}
.mission-item img{
    width: 40%;
}
#item-1{
    background-color: bisque;
}
#item-2{
    background-color: rgb(195, 236, 236);
}
#item-3{
    background-color:lavender;
}
.coding{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25%;
    margin-left: 3%;
    padding-top: 100px;
}
.coding-width1{
    width: 40%;
    margin: auto;
    padding-left: 10%;
}
.coding-width1 img{
    padding-left: 10%;
    width: 100%;
}
.coding-width2{
    width: 60%;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}
.project{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
    margin-right: 3%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.project-width1{
    width: 60%;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}
.project-width2{
    width: 40%;
    margin: auto;
    padding-right: 10%;
}
.project-width2 img{
    padding-right: 10%;
    width: 100%;
}
#coral-color{
    color: coral;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}